<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
</head>
<body>
    <h1>
        Welcome to the main page of Smallsource
    </h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. <br>
        Ab asperiores aspernatur, beatae commodi culpa debitis dolorem, <br>
        doloribus dolorum eum eveniet fuga laboriosam natus nobis nostrum officia, <br>
        quibusdam tempore velit voluptatibus. <br>
    </p>
    <a href="/eco">Link</a>

</body>
</html>